<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php [QSA,L]

  php_flag display_errors Off
	php_flag display_startup_errors Off
	php_value error_reporting E_ALL&~E_DEPRECATED
	php_flag html_errors Off
	php_flag log_errors On
	php_value error_log  logs/filename.log
</IfModule>